.filmcards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem 0 2rem;
  font-family: Arial, sans-serif;
}

.filmcards:has(.infos) {
  display: flex;
  
}

.filmcard {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
  min-width: calc(100vw / 3 - 3rem);
}



.filmcard__affiche {
  aspect-ratio: 16 / 9; /* ≈ 0.56 */
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.3rem;
}

.filmcard__titre {
  display: flex;
  position: relative;
  text-align: start;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--color-fg);
  padding:0.6rem 0 0.6rem 0 ;
  text-align: center;
}
/* Style pour le bouton "tolike" */
.filmcard button {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.3s ease;
  border-radius: 50%;
}

.filmcard button:hover {
  transform: scale(1.2);
}
.filmcard:hover {
  transform: scale(1.05);
}

.filmcard__like {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Styles pour écrans plus grands */

@media (min-width: 767px) {
  .filmcards {
    
    padding: 0 6rem 0 6rem;
  }
  .filmcard {
    min-width: calc(100vw / 4 - 3rem);
  }
  
  .filmcard__titre {
    font-size: 1.063rem;
    padding:0.8rem 0 0.8rem 0 ;
  }

  .filmcard button {
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
  }
}

@media (max-width: 569px) {
  .filmcards {
    
    padding: 0 1.5rem 0 1.5rem;
  }
  .filmcard {
    min-width: calc(100vw / 2 - 3rem);
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: calc(100vw / 3 - 3rem);
  flex: 0 0 auto;
  scroll-snap-align: start;
  }
  
  .filmcard__titre {
    font-size: 0.813rem;
    padding:0.8rem 0 0.8rem 0 ;
  }
  
  .filmcard__affiche {
    aspect-ratio: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.3rem;
  }
  .filmcard button {
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
  }
}
