.filmcards {
  display: flex; /* Conserve 4 éléments même sur écran réduit */
  flex-direction:column  ;  
  gap: 2rem;
  padding: 2rem;
  
  font-family: "DM Sans";

  &:has(.infos){
    display: block;
  }
}

.filmcard {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: calc(100vw / 6);
  min-width: calc(100vw / 6);
}

.filmcard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.filmcard__affiche {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  padding-bottom: 10rem;
}

.filmcard__titre {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--color-fg);
  font-size: 1em;
  padding: 0.8rem;
  text-align: center;
  opacity: 1;
}
@media (max-width: 500px) {
  .filmcards {
    display: flex; /* Conserve 4 éléments même sur écran réduit */
    gap: 1rem;
    padding: 0.5rem;
  }
  .filmcard {
    border-radius: 0.2rem;
  }
  .filmcard__affiche {
    padding-bottom: 2rem;
  }
  .filmcard__titre {
    font-size: 0.4em;
    padding: 0;
  }
}
/* Styles pour les écrans plus grands */
@media (min-width: 768px) {
  .filmcard__titre {
    font-size: 1.2em;
    padding: 1rem;
  }
}
