.filmcards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  font-family: "DM Sans", sans-serif;
}

.filmcards:has(.infos) {
  display: block;
}

.filmcard {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer;
  width: calc(100vw / 6);
  aspect-ratio: 2 / 3; /* Fixe le ratio d'aspect pour avoir des cartes uniformes */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.filmcard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.filmcard__affiche {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.filmcard__titre {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--color-fg);
  font-size: 1em;
  padding: 0.8rem;
  text-align: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

/* Responsive : petits écrans */
@media (max-width: 500px) {
  .filmcards {
    gap: 1rem;
    padding: 0.5rem;
  }

  .filmcard {
    border-radius: 0.2rem;
    width: 100%; /* pleine largeur sur petits écrans */
    aspect-ratio: 2 / 3;
  }

  .filmcard__titre {
    font-size: 0.6em;
    padding: 0.4rem;
  }
}

/* Responsive : écrans moyens et plus */
@media (min-width: 768px) {
  .filmcard__titre {
    font-size: 1.2em;
    padding: 1rem;
  }
}
