<!-- <button onclick="C.handlerlike({{likedisslike}})" data-id="{{id}}">
  <img class="filmcard__like" src="{{like}}" alt="like" />
</button> -->
<!-- <img class="favoris_star" src="{{path_star}}" {{couleur_fond}} /> -->
<ul onclick="C.handlerDetail({{id}})" class="filmcard">
  <img class="filmcard__affiche" src="https://mmi.unilim.fr/~roubille1/-repository-SAE2.03-roubillr/server/images/{{image}}" alt="affiche du film {{title}}">
  <li class="filmcard__titre"><h2>{{title}}</h2></li>
</ul>