body {
    background-color: var(--color-bg);
}
.addFilm {
    width: 95vw;
    max-width: 1600px;
    margin: 2rem auto;
    padding: 2.5rem;
    color: #ecf0f1;
    font-family: Arial, sans-serif;
  }
  
  .addFilm__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #ecf0f1;
  }
  
  .addFilm__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem 2rem;
  }
  
  .addFilm__form input,
  .addFilm__form select {
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    background-color: #292b2d;
    color: #ecf0f1;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.2s ease;
  }
  
  .addFilm__form input::placeholder {
    color: var(--color-gray);
  }
  
  .addFilm__form input:focus,
  .addFilm__form select:focus {
    outline: none;
    border-color: var(--color-yellow);
    box-shadow: 0 0 0.5rem #52490b80;
  }
  
  /* Le bouton */
  .addFilm__form input[type="button"] {
    background-color: var(--color-black);
    color: var(--color-gray);;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-size: 1rem;
    padding: 1rem 2rem;
    grid-column: 1 / -1;
    justify-self: center;
    border-radius: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .addFilm__form input[type="button"] {
      grid-column: span 1;
    }
  }
  
  .addFilm__form input[type="button"]:hover {
  background-color: var(--color-blue-foncé);
  }
  
  .addFilm__form input[type="button"]:active {
    transform: scale(0.95);
  }