#header {
  font-family: Arial, sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}
.hidden {
  transform: translateY(-100%);
}
.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.103);
  height: 80px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 0 7rem 0 7rem;
  
  gap: 3rem;

  background: var(--color-bg);
  color: var(--color-fg);
}

.navbar__picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.navbar__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
.USER {
  
  gap: 3rem;
  display: flex;
  align-items: center;
}
.select_user {
  margin: 2rem 0;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
  background-color: black;
  color: white;
  border: none;
  padding: 25px 0 25px 0 ;
  list-style-type: none;
  font-family: Arial, sans-serif;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

/* Ligne blanche au survol */
.select_user:hover,
.navbar__item:hover {
  border-bottom: 2px solid white;
}
option {
  outline: none;
  border: none;
  position: absolute;
  background-color: #1e1e1e;
  color: #bfbfbf;
  width: 100%;
  cursor: pointer;
}
/* Ajout de la flèche */
.select_user::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-width: 0 2px 2px 0;
  padding: 4px;
  pointer-events: none;
}
.select-wrapper {
  position: relative;
  display: inline-block;
}

.navbar__item {
  padding: 25px 0 25px 0 ;
  margin: 2rem 0 2rem 0;
  font-family: "DM Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  cursor: pointer;
}
/* 
.nav_04_L1__btn__sign__up {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  cursor: pointer;
  border: 0.125rem solid hwb(260 92% 7%);
  border-radius: 6rem;
  background-color: transparent;
  color: var(--clr-heading);
  transition: 0.2s ease-in-out;
} */

/* .nav_04_L1__btn__sign__up:hover{
  background-color: var(--couleur-boutonhover);
  color: white;
} */

@media (max-width: 568px) {
  .navbar {
    gap: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem
  }

  .USER {
    gap: 1rem;
  }

  .navbar__list {
    gap: 1rem;
  }
}
